@model WebMotors.Challenge.ModelsPages.AnnounceHomeModel

@{
    ViewData["Title"] = "Create";
}


<h1>Cadastrar novo Anúncio</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostAnnounced">

         

            <div class="form-group">
                <label asp-for="Request.MakeId" class="control-label">Marca</label>
                <select id="makeDropId" asp-for="Request.MakeId" class="dropdown" onchange="GetAllModels(this)" >
                    <option value="0">Selecione uma marca ...</option>
                    @foreach (var item in Model.CarMakes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div class="form-group form-row">
                <label asp-for="Request.ModelId" class="control-label">Modelo</label>
                <select  id="modelDropId" asp-for="Request.ModelId" class="dropdown" onchange="GetAllVersions(this)">
                    <option value="0">Selecione um modelo ...</option>
                    @foreach (var item in Model.CarModels)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div class="form-group form-row">
                <label asp-for="Request.Version" class="control-label">Versão</label>
                <select id="versionDropId"  asp-for="Request.Version" class="dropdown">
                    <option value="0">Selecione uma versão ...</option>
                    @foreach (var item in Model.CarModels)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>



            <div class="form-group form-row">
                <label asp-for="Request.Observation" class="control-label">Observações</label>
                <input asp-for="Request.Observation" class="form-control" />
            </div>


            <div class="form-group form-row">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

    function GetAllModels(selected) {
        var id = selected.options[selected.selectedIndex].value

        if (id == 0)
            return

        $.ajax({
            url: 'GetAllModels?makeId=' + id,
            type: "Get",
            success: function (data) {

                $('#modelDropId option[value!="0"]').remove();


                $.each(data, function (i, item) {
                    $('#modelDropId').append($('<option>', {
                        value: item.id,
                        text: item.name
                    }));
                });


            }
        });
    }

    function GetAllVersions(selected) {
        var id = selected.options[selected.selectedIndex].value
        if (id == 0)
            return


        $.ajax({
            url: 'GetAllVersions?modelId=' + id,
            type: "Get",
            success: function (data) {

                $('#versionDropId option[value!="0"]').remove();

                $.each(data, function (i, item) {
                    $('#versionDropId').append($('<option>', {
                        value: item.id,
                        text: item.name
                    }));
                });
            }
        });
    }



</script>
}
